<nav>
    <div class="nav-content">
      <div class="logo">
        <img src = "assets\shopping-bag-icon.png" alt = "site icon">
        <a href="#">Fashion</a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Contact</a></li>
        <li><a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Products</a></li>
        <li><a routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Services</a></li>
        <li><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Login</a></li>    
        <li><a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Register</a></li>      
      </ul>
    </div>
  </nav>
