<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-10">
            <h4 class="sm:text-3xl text-2xl font-medium title-font mb-0 text-gray-900" style="font-family:cursive">Our Trending <span
                    style="color: #8B008B; ">Products</span></h4>
                    <hr class="border-t-2 border-gray-300 my-4 w-16 mx-auto">
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\special_product_1.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Wide Leg Pant</h2>
                    <p class="mt-1 mb-2">$16.00</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\special_product_2.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Women Solid Kurta</h2>
                    <p class="mt-1 mb-2">$21.15</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\special_product_3.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Collot Full Dress</h2>
                    <p class="mt-1 mb-2">$12.00</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\special_product_4.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Kurta Plazo Set</h2>
                    <p class="mt-1 mb-2">$18.40</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full p-4-hover">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\Straight-kurta.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Printed Straight Kurta</h2>
                    <p class="mt-1 mb-2">$16.00</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\Running_suit.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Half Running Suit</h2>
                    <p class="mt-1 mb-2">$20.00</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\Formal-Men.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Formal Men Lowers</h2>
                    <p class="mt-1 mb-2">$18.40</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\Fancy_dress.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Fancy Lady Dress</h2>
                    <p class="mt-1 mb-2">$21.40</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div><br>
            <br>
             <!-- -------------------------New Collection Section ---------------------------------------- -->
            <div class="flex flex-col text-center w-full mb-8 mt-10">
                <h4 class="sm:text-3xl text-2xl font-medium title-font mb-0 text-gray-900" style="font-family:cursive">New <span
                        style="color: #8B008B;">Collection</span></h4>
                        <hr class="border-t-2 border-gray-300 my-4 w-16 mx-auto">
            </div>

            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\c_formal_gray_shirt.png">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Formal Top</h2>
                    <p class="mt-1 mb-2">$21.40</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\c_polo-shirt.png">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Polo Shirt</h2>
                    <p class="mt-1 mb-2">$18.20</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\c_shirt-girl.png">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Fancy top</h2>
                    <p class="mt-1 mb-2">$15.90</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\c_western-shirt.png">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Western Shirt</h2>
                    <p class="mt-1 mb-2">$14.50</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-250 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\c_pant_girl.png">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Girl Pant</h2>
                    <p class="mt-1 mb-2">$16.90</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-70 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\top_rated_2.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium"> Smart Watch</h2>
                    <p class="mt-1 mb-2">$21.50</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\girl_bag.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Fancy Bag</h2>
                    <p class="mt-1 mb-2">$17.40</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-90 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="assets\on_sale_3.jpg">
                </a>
                <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Shoes</h2>
                    <p class="mt-1 mb-2">$19.20</p>
                    <button
                        class="text-black-500 py-1 px-3 rounded border border-blue-500 transition-transform duration-300 transform hover:scale-105 hover:bg-black hover:text-white "
                        style="border-radius: 20px;">
                        Add to Cart
                    </button><br>

                </div>
            </div>
            <!-- ------------------------------------------------------------------------ -->
            
            
            
            
        </div>
    </div>
</section>

